#### Riley Payung
#### CDS 292
#### Assignment 1

### Imports

In [4]:
import math

### Question 1

In [5]:
one = int(input())
print("ONE:",one);
one_sq = one ** 2;
print("ONE_SQ:",one_sq);
one_plus = one + (27 * 13 ** 2);
print("ONE_PLUS:",one_plus);
one_float = float(one_plus)
print("ONE_FLOAT:",one_float);

 55

ONE: 55
ONE_SQ: 3025
ONE_PLUS: 4618
ONE_FLOAT: 4618.0

### Question 2

In [11]:
two = float(input())
print("TWO:",two);
two_sq = two ** 2;
print("TWO_SQ:",two_sq);
two_plus = two + (27 * 13 ** 2);
print("TWO_PLUS:",two_plus);
two_floor = float(math.floor(two_plus));
print("TWO_FLOOR:",two_floor);

 25.2202

TWO: 25.2202
TWO_SQ: 636.0584880399999
TWO_PLUS: 4588.2202
TWO_FLOOR: 4588.0

### Question 3

In [14]:
three = ["Riley","John","Andy","Katelyn","Pierce","Logan"];
print("THREE:",three);
three_in_order = three;
three_in_order.sort();
print("THREE_IN_ORDER:",three_in_order);

THREE: ['Riley', 'John', 'Andy', 'Katelyn', 'Pierce', 'Logan']
THREE_IN_ORDER: ['Andy', 'John', 'Katelyn', 'Logan', 'Pierce', 'Riley']

### Question 4

In [52]:
four = [];
four_in = [];
for i in range(5,20):
    four.append(i ** 3);
for i in range(5,21):
    four_in.append(i ** 3);
print("FOUR (EXCLUSIVE of 20):",four);
print("FOUR (INCLUSIVE of 5 and 20):",four_in);

FOUR (EXCLUSIVE of 20): [125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859]
FOUR (INCLUSIVE of 5 and 20): [125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000]

### Question 5

In [58]:
def fx(x):
    return ((x+2) / (x ** 2));
five = [];
for i in range(1,51):
    five.append(fx(i));
print("FIVE:",five)

FIVE: [3.0, 1.0, 0.5555555555555556, 0.375, 0.28, 0.2222222222222222, 0.1836734693877551, 0.15625, 0.13580246913580246, 0.12, 0.10743801652892562, 0.09722222222222222, 0.08875739644970414, 0.08163265306122448, 0.07555555555555556, 0.0703125, 0.0657439446366782, 0.06172839506172839, 0.05817174515235457, 0.055, 0.05215419501133787, 0.049586776859504134, 0.04725897920604915, 0.04513888888888889, 0.0432, 0.04142011834319527, 0.039780521262002745, 0.03826530612244898, 0.036860879904875146, 0.035555555555555556, 0.03433922996878252, 0.033203125, 0.03213957759412305, 0.031141868512110725, 0.030204081632653063, 0.029320987654320986, 0.028487947406866325, 0.027700831024930747, 0.02695595003287311, 0.02625, 0.02558001189767995, 0.024943310657596373, 0.024337479718766902, 0.023760330578512397, 0.023209876543209877, 0.022684310018903593, 0.022181982797645994, 0.021701388888888888, 0.0212411495210329, 0.0208]

### Question 6

In [56]:
fib = [0,1];
for i in range(2,31):
    fib.append(fib[i-2] + fib[i-1]);
six = fib[20:30]
print("SIX:",six)
fib_list = fib[22:24];
for i in range(len(fib_list)):
    fib_list[i] = (fib_list[i] ** 0.5);
print("FIB_LIST:",fib_list)
fib_sum = sum(fib_list);
print("FIB_SUM:",fib_sum);

SIX: [6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229]
FIB_LIST: [133.08268106707197, 169.28378540191025]
FIB_SUM: 302.36646646898225